/* Modal Style */
.afb-modal {
  display: none; }
  .afb-modal .modal__container,
  .afb-modal .modal__overlay {
    will-change: transform; }

.afb-modal.is-open {
  display: block; }

.afb-modal[aria-hidden="false"] .afb-modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1); }
.afb-modal[aria-hidden="false"] .afb-modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.afb-modal[aria-hidden="true"] .afb-modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1); }
.afb-modal[aria-hidden="true"] .afb-modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.afb-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center; }

.afb-modal__container {
  position: relative;
  background-color: #fff;
  color: #111;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box; }

.afb-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.afb-modal__title {
  margin: 0 auto;
  line-height: 1.25;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: inherit; }

.afb-modal__close {
  background: transparent;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  line-height: 1;
  color: #606060; }
  .afb-modal__close:hover {
    cursor: pointer;
    color: #111; }
  .afb-modal__close:focus {
    outline: none; }

.afb-modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8); }

.afb-modal__btn {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  line-height: 1;
  margin: 10px 0 0 0; }
  .afb-modal__btn:focus, .afb-modal__btn:hover {
    cursor: pointer;
    opacity: 0.9; }
  .afb-modal__btn:focus {
    outline: none; }

@keyframes mmfadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes mmfadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes mmslideIn {
  from {
    transform: translateY(15%); }
  to {
    transform: translateY(0); } }
@keyframes mmslideOut {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-10%); } }
.-modal-form__fields {
  display: flex;
  flex-direction: column; }

.afb-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .afb-field-wrapper label {
    font-size: 0.875rem;
    line-height: 1;
    margin-bottom: 0.25rem;
    text-align: left; }
  .afb-field-wrapper .required {
    border-bottom: 0 !important;
    color: #ff0000;
    text-decoration: none; }
  .afb-field-wrapper .input-text {
    width: 100%; }

.error {
  font-size: 12px;
  color: #ff0000;
  font-style: italic; }

.success {
  color: #4CAF50;
  text-align: center;
  display: block; }

.alert {
  display: inline-block;
  padding: 1em 1em;
  font-size: 0.875em;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  width: 280px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  box-sizing: border-box; }

.alert-success {
  background-color: #4CAF50; }

.alert-danger {
  background-color: #F44336; }

#spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#spinner.show {
  visibility: visible; }

.preload {
  background-color: #f1f1f1; }

/*# sourceMappingURL=style-afb-shortcode.css.map */
